.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin: 15px 0px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__badge {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 40px;
}

@keyframes rotateGear{
    form {
        transform: none;
    }
    to {
        transform: rotatez(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 1s linear infinite;
}